{% extends "common/layout_user.html" %}
{% block content %}
<div class="loginColumns animated fadeInDown" id="edit_wrapper">
	<div class="row">
			<div class="ibox-content">
				<div class="m-t login_wrap" role="form">
                    <div class="form-group text-center">
                        <h2 class="font-bold">Edit</h2>
                    </div>
					<div class="form-group" style="margin-left:25%;">
						<span>user name:</span><input type="text" name="user_name" class="form-control user_name" placeholder="Please Input Username" value="{{current_user.user_name}}" style="width:75%;">
					</div>
					<div class="form-group" style="margin-left:25%;">
						<span>phone number:</span><input type="text" name="phone_number" class="form-control" placeholder="Please Input Username" value="{{current_user.phone_number}}"style="width:75%;">
					</div>
					<div class="form-group" style="margin-left:25%;">
						<span>email:</span><input type="text" name="email" class="form-control" placeholder="Please Input Username" value="{{current_user.email}}" style="width:75%;">
					</div>
					<div class="form-group" style="margin-left:25%;">
						<span>first name:</span><input type="text" name="first_name" class="form-control" placeholder="Please Input Username" value="{{current_user.first_name}}" style="width:75%;">
					</div>
					<div class="form-group" style="margin-left:25%;">
						<span>middle name:</span><input type="text" name="middle_name" class="form-control" placeholder="Please Input Username" value="{{current_user.middle_name}}" style="width:75%;">
					</div>
					<div class="form-group" style="margin-left:25%;">
						<span>last name:</span><input type="text" name="last_name" class="form-control" placeholder="Please Input Username" value="{{current_user.last_name}}" style="width:75%;">
					</div>
					<div class="form-group" style="margin-left:25%;">
						<span>occupation:</span><input type="text" name="occupation" class="form-control" placeholder="Please Input Username" value="{{current_user.occupation}}" style="width:75%;">
					</div>
					<div class="form-group" style="margin-left:25%;">
						<span>mail address:</span><input type="text" name="mail_address" class="form-control" placeholder="Please Input Username" value="{{current_user.mail_address}}" style="width:75%;">
					</div>
					<div class="button-Back" style="display:inline-block;margin-left:73%;">
						<a href="/"><button type="button" class="btn btn-primary block full-width m-b do-back">Back</button></a>
					</div>
					<div class="button-Modify" style="display:inline-block;">
						<button type="button" class="btn btn-primary block full-width m-b do-modify">Modify</button>
					</div>
                </div>
			</div>
	</div>
</div>
{% endblock %}
{% block js %}
<script src="{{ buildStaticUrl('/js/user/edit.js')}}"></script>
{% endblock %}
