{% extends "common/layout_user.html" %}
{% block content %}
<link href="{{ buildStaticUrl('/css/register.css') }}" rel="stylesheet">
<div class="loginColumns animated fadeInDown" id="login_wrapper">
	<div class="row">
			<div class="ibox-content">
				<div class="m-t login_wrap" role="form">
                    <div class="form-group text-center">
                        <h2 class="font-bold">Register</h2>
                    </div>
					<div class="form-group" style="margin-left:25%;">
						<span>user name:</span><input type="text" name="user_name" class="form-control" placeholder="Please Input Username" style="width:75%;">
					</div>
					<div class="form-group" style="margin-left:25%;">
						<span>password:</span><input type="password" name="password" class="form-control" placeholder="Please Input Password" style="width:75%">
					</div>
					<div class="form-group" style="margin-left:25%;">
						<span>phone number:</span><input type="text" name="phone_number" class="form-control" placeholder="Please Input Username" style="width:75%;">
					</div>
					<div class="form-group" style="margin-left:25%;">
						<span>email:</span><input type="text" name="email" class="form-control" placeholder="Please Input Username" style="width:75%;">
					</div>
					<div class="form-group" style="margin-left:25%;">
						<span>first name:</span><input type="text" name="first_name" class="form-control" placeholder="Please Input Username" style="width:75%;">
					</div>
					<div class="form-group" style="margin-left:25%;">
						<span>middle name:</span><input type="text" name="middle_name" class="form-control" placeholder="Please Input Username" style="width:75%;">
					</div>
					<div class="form-group" style="margin-left:25%;">
						<span>last name:</span><input type="text" name="last_name" class="form-control" placeholder="Please Input Username" style="width:75%;">
					</div>
					<div class="form-group" style="margin-left:25%;">
						<span>occupation:</span><input type="text" name="occupation" class="form-control" placeholder="Please Input Username" style="width:75%;">
					</div>
					<div class="form-group" style="margin-left:25%;">
						<span>mail address:</span><input type="text" name="mail_address" class="form-control" placeholder="Please Input Username" style="width:75%;">
					</div>
					<div class="button-back" style="display:inline-block;margin-left:73%;">
						<a href="/user/login"><button type="button" class="btn btn-primary block full-width m-b do-back">Back</button></a>
					</div>
					<div class="button-submit" style="display:inline-block;">
						<button type="button" class="btn btn-primary block full-width m-b do-submit">Submit</button>
					</div>
                </div>
			</div>
	</div>
</div>
{% endblock %}
{% block js %}
<script src="{{ buildStaticUrl('/js/user/register_submit.js') }}"></script>
{% endblock %}
