{% extends "common/layout_user.html" %}
{% block content %}
<div class="loginColumns animated fadeInDown" id="reset_wrapper">
	<div class="row">
			<div class="ibox-content">
				<div class="m-t login_wrap" role="form">
                    <div class="form-group text-center">
                        <h2 class="font-bold">Reset Password</h2>
                    </div>
					<div class="form-group" style="margin-left:25%;">
						<span>Old Password:</span><input type="password" name="old_password" class="form-control" placeholder="Please Input Old Password" style="width:75%">
					</div>
					<div class="form-group" style="margin-left:25%;">
						<span>New Password:</span><input type="password" name="new_password" class="form-control new_password" placeholder="Please Input New Password" style="width:75%">
					</div>
					<div class="form-group" style="margin-left:25%;">
						<span>Confirmation:</span><input type="password" name="new_password2" class="form-control confirmation" placeholder="Please Input New Password Again" style="width:75%">
					</div>
					<div class="button-Back" style="display:inline-block;margin-left:73%;">
						<a href="/"><button type="button" class="btn btn-primary block full-width m-b do-back">Back</button></a>
					</div>
					<div class="button-Modify" style="display:inline-block;">
						<button type="button" class="btn btn-primary block full-width m-b do-modify">Modify</button>
					</div>
                </div>
			</div>
	</div>
</div>
{% endblock %}
{% block js %}
<script src="{{ buildStaticUrl('/js/user/reset_pwd.js') }}"></script>
{% endblock %}
