li{
    white-space:nowrap;
}
h1{
    color: white;
    text-align: center;
    font-weight: normal;
    height: 135px;
    letter-spacing: 1px;
    padding-top: 30px;
    width: 100%;
    margin:0;
    white-space:nowrap;
}
#title{
    background: #0099F7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #F11712, #0099F7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #F11712, #0099F7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    /*background-color: rgba(255,44,44,0.75);*/
    line-height: 80px;
    margin:0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

#main {
    margin:auto auto;
    background-color:white;
    width:100%;
}

#body {
    background:white;
}

li{
    letter-spacing: 2px;
    line-height: 40px;
    height:40px;
    color:black;
    text-align: center;
}


ul{
    list-style:none;
    margin:0;
    padding:0;
}





