{% include "/index/partials/header.html" %}
<body>
    <div id="nav">
        <ul>
            <li style="background-color:green;color:white;width:160px;"><a href="#">Profile</a>
                <ul>
                    <li><a href="/user/edit">edit</a></li>
                    <li><a href="/user/reset-pwd">change password</a></li>
                </ul>
            </li>
            <div class="logout">
                <a href="/user/logout"><li style="background-color:red;width:120px">Log out</li></a>
            </div>
        </ul>
    </div>
</body>



{% include "/index/partials/footer.html" %}